aiogrpc==1.8
astroid==2.8.4
grpcio==1.41.1
isort==5.10.0
lazy-object-proxy==1.6.0
mavsdk==0.21.0
mccabe==0.6.1
platformdirs==2.4.0
protobuf==3.19.1
pylint==2.11.1
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
wrapt==1.13.3
